.foto{
    width: 90%;
    height:95%;
     //width: 400px;
     //height:200px;
     //border-radius: 15px;
     //-webkit-border-radius: 50%;
    border-radius: 50% !important;
    //box-shadow: 0 0 5px gray;
    //overflow: hidden;
    margin: auto;
    display: block;
}

.image {
    height: 5vw; 
    width: 5vw; 
   border: 2px solid #fff;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
}

.circle-pic{
   width:50px;
   height:50px;
   -webkit-border-radius: 50%;
   border-radius: 50%;
}

.boton{
    //justify-content: flex-end;
    float:right;
}
.importante{
    //height:40;
    text-align: center;
    
}
.infopersonal{
    font-size: 130%;
}
.negrita{
    font-weight: bold;

}
.estado{
    padding-top: 12%; 
    text-justify: auto;
    //border-color:red;
    border: 40%;
    text-align: center;
    //float: left;
    
}
.estadoNP{
    text-shadow: 2px 0 0 red, -2px 0 0 red, 0 2px 0 red, 0 -2px 0 red, 1px 1px red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red;

}
.estadoP{
    text-shadow: 2px 0 0 green, -2px 0 0 green, 0 2px 0 green, 0 -2px 0 green, 1px 1px green, -1px -1px 0 green, 1px -1px 0 green, -1px 1px 0 green;

}
