<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      INFORCAP<button class="boton btn btn-light" (click)="irHome()">Volver</button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="4" size-md size-sm>
        
          <img class="foto" src="{{alumno.foto}}">
        
      </ion-col>

      <ion-col class="infopersonal" size="7" size-md size-sm>
        <ion-label class="negrita">Nombre y Apellido: </ion-label>
        <ion-label>{{alumno.nombre_apellido}}</ion-label>
        <br>
        <ion-label class="negrita">Documento: </ion-label>
        <ion-label>{{alumno.ci}}</ion-label>
        <br>
        <ion-label class="negrita">E-mail: </ion-label>
        <ion-label>{{alumno.email}}</ion-label>
        <br>
        <ion-label class="negrita">Movil: </ion-label>
        <ion-label>{{alumno.movil}}</ion-label>
        <br>
        <ion-label class="negrita">Direccion: </ion-label>
        <ion-label>{{alumno.direccion}}</ion-label>
        <br>
        <!--<ion-label>Cumpleaños: </ion-label>
        <ion-label>{{alumno.cumple}}</ion-label>
        <br>-->
        <!--<ion-label>Ultima Marcacion: </ion-label>
        <ion-label>{{alumno.umark}}</ion-label>-->
      </ion-col>
      <ion-col class="estado" size="1" size-md size-sm>
        <h4 class="negrita estadoNP" [ngClass]="{'negrita estadoP' : alumno.estado=='Al dia'}">{{alumno.estado}}</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row responsive-sm>
      <ion-col col-12>
        <h5>Ultimos Cursos</h5>

        <ion-item class="importante" *ngFor="let c of cursos">
          <ion-label>
            - {{c.curso}}
          </ion-label>
        </ion-item>

        <h5>Ultimas Facturas</h5>

        <ion-item class="importante" *ngFor="let f of facturas">
          <ion-label>
            - {{f.factura}}
          </ion-label>
        </ion-item>

        <h5>Cuotas Vencidas</h5>

        <ion-item class="importante" *ngFor="let v of vencidas">
          <ion-label>
            - {{v.vencida}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>