
.logo{
height:50%;
padding-top: 2%;
filter: drop-shadow(3px 4px 4px #444);

}

.gestion{
  color: white;
  padding-top: 15%;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 220%;
}
    
