<!--<ion-header>
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
-->

<ion-content color="danger">

  <ion-img class="logo" src="/assets/img/logo_INFORCAP.jpg"></ion-img>

  <div class="gestion">
    <p>Gestion de Asistencia </p>
    <p>Bienvenido</p>
    <!-- <button (click)="irAinfo()">ir </button>-->
  </div>

</ion-content>